html
	header
		style
			include style.css
	body

		p RECHERCHER UN ENCLOS ICI :
		|
		form(method='GET' action='/getEnclos')
			|
			div.form-group
				label(for='numero') N° DE L'ENCLOS:
				input#numero.form-control(type='string', name='numero')
			|
			|
			button.btn.btn-primary(type='submit', class='button') obtenir cette enclos

		form(method='GET' action='/getAEnclos')
			|
			|
			button.btn.btn-primary(type='submit', class='button') obtenir tout les enclos
		|
		|

		a(class='button' href='addEnclos') ajouter un enclos
		a(class='button' href='supprEnclos') supprimer un enclos
		a(class='button' href='modifEnclos') modifier un enclos