html
	header
		style
			include style.css
	body
		h1 bonjour et bienvenue sur le MONKEY MANAGER 3000 !!!!! 

		a(class='button' href='singes') Gérer les singes

		a(class='button' href='enclos') Gérer les enclos